div.nav {
    background-color: #f2f2f2;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Minecraft', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #333;
    letter-spacing: 1.51px;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    border-width: 4.20px;
    border-color: rgb(79, 159, 132);
}
div.left {
    float: left;
    border-width: 0;
}
.smaller{
    font-size: 1rem;
}
/* div.theright {
    float: right;
    border-width: 0;
    width:40%;
    text-align:right;
    justify-content: right;
    justify-items: right;
    display:flex;
    position: fixed;
    right: 15px;
} */

div.theright {
    float: right;
    border-width: 0;
    width:40%;
    text-align:right;
    justify-content: right;
    justify-items: right;
    display:flex;
    position: fixed;
    right: 15px;
}